<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Mi Sitio Web</title>
    <link href="/css/output.css" rel="stylesheet" th:href="@{/css/output.css}">
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
</head>
<body class="min-h-screen flex flex-col">

<!-- Header -->
<div th:replace="~{fragments/header :: header}" >
</div>

<!-- Contenedor principal con sidebar a la derecha -->
<div class="flex flex-1">
    <!-- Contenido principal -->
    <main class="flex-1 p-6 shadow-md border rounded-md m-4">
        <section layout:fragment="content">
            <!-- Aquí se insertará el contenido dinámico de cada página -->
        </section>
    </main>

    <!-- Sidebar a la derecha (incluido desde un fragmento) -->
    <div th:replace="~{fragments/sidebar :: sidebar}">
    </div>
</div>

<!-- Footer -->
<footer class=" p-4 text-center">
    <p>© 2024 Mi Sitio Web - Todos los derechos reservados.</p>
</footer>

</body>
</html>
